{%- extends "bootstrap/base.html" %}
{% block title %}Stephen Ciauri{% endblock %}
{% import "bootstrap/fixes.html" as fixes %}

{% block styles -%}
{{super()}}  {# do not forget to call super or Bootstrap's own stylesheets will disappear! #}
<link rel="stylesheet" type="text/css"
      href="{{url_for('static', filename='css/styles.css')}}">
<script src="{{url_for('static', filename='scripts/ga.js')}}"></script>
{% endblock %}

{% block navbar %}
<div class="navbar-fixed-top">
    {{nav.navbar.render()}}
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    {% if header %}
    <div class="page-header">
        <h1>{{header}}</h1>
    </div>
    {% endif %}
    <div class="jumbotron">
        {% block section %}{% endblock %}
    </div>
    {% block extra%}{% endblock %}
</div>
{% endblock %}
